<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
	<head>
	    <title>{% block title %}My amazing site{% endblock %}</title>
        <style type="text/css">
          html { height: 100% }
          body { height: 100%; margin: 0; padding: 0 }
          #map-canvas { height: 100% }
        </style>
        <link href="{% static "datasf/datasf.css" %}" rel="stylesheet" media="screen">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>

	<body>
        <div class="container">
            <div class="page-header">
              <h1>SF Movies <small>Find movie film locations on the map</small></h1>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <form>
                        <div class="form-group">
                            <input list="film_titles" id="film_title" class="form-control" type="text" placeholder="Search by Film Title" autocomplete="off">
                            <datalist id="film_titles">
                            </datalist>
                        </div>
                    </form>
                </div>
                <div class="col-sm-7">
                    <button id="search" class="btn btn-primary">Search</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div id="map-canvas"></div>
                </div>
            </div>

        </div>

	    <script src="http://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="{% static "datasf/scripts.js" %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBABrAliBhsGpLAQ6vZ675rShv7yyr_k2U&sensor=false&libraries=places"></script>
	</body>
</html>